@using apoemaMatch.Data.Enums
@model Demandante

@{
    ViewData["Title"] = "Detalhes Demandante";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Detalhes @Model.NomeEmpresa</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="form-group text-center">
                    <img src="@Model.ImagemURL" class="border-info rounded-circle" style="max-width: 150px" />
                </div>
                <div class="form-group">
                    <label asp-for="CargoDemandante" class="control-label"></label>
                    <input asp-for="CargoDemandante" class="form-control" readonly />
                    <span asp-validation-for="CargoDemandante" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NomeDemandante" class="control-label"></label>
                    <input asp-for="NomeDemandante" class="form-control" readonly />
                    <span asp-validation-for="NomeDemandante" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" readonly />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefone" class="control-label"></label>
                    <input asp-for="Telefone" class="form-control" readonly />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control" readonly />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PorteDaEmpresa" class="control-label"></label>
                    <input asp-for="PorteDaEmpresa" value="@Extensions.GetEnumDisplayName((EnumPorteDaEmpresa)Model.PorteDaEmpresa)" class="form-control" readonly />
                    <span asp-validation-for="PorteDaEmpresa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RamoDeAtuacao" class="control-label"></label>
                    <input asp-for="RamoDeAtuacao" value="@Extensions.GetEnumDisplayName((EnumRamoDeAtuacao)Model.RamoDeAtuacao)" class="form-control" readonly />
                    <span asp-validation-for="RamoDeAtuacao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SegmentoDeMercado" class="control-label"></label>
                    <input asp-for="SegmentoDeMercado" value="@Extensions.GetEnumDisplayName((EnumSegmentoDeMercado)Model.SegmentoDeMercado)" class="form-control" readonly />
                    <span asp-validation-for="SegmentoDeMercado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LinhaDeAtuacaoTI" class="control-label"></label>
                    <input asp-for="LinhaDeAtuacaoTI" value="@Extensions.GetEnumDisplayName((EnumLinhaDeAtuacaoTI)Model.LinhaDeAtuacaoTI)" class="form-control" readonly />
                    <span asp-validation-for="LinhaDeAtuacaoTI" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RegimeDeTributacao" class="control-label"></label>
                    <input asp-for="RegimeDeTributacao" value="@Extensions.GetEnumDisplayName((EnumTributacao)Model.RegimeDeTributacao)" class="form-control" readonly />
                    <span asp-validation-for="RegimeDeTributacao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LeiDeInformatica" class="control-label"></label>
                    <input asp-for="LeiDeInformatica" value="@Extensions.GetEnumDisplayName((EnumLeiDeInformatica)Model.LeiDeInformatica)" class="form-control" readonly />
                    <span asp-validation-for="LeiDeInformatica" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ObjetivoParceria" class="control-label"></label>
                    <input asp-for="ObjetivoParceria" value="@Extensions.GetEnumDisplayName((EnumObjetivoParceria)Model.ObjetivoParceria)" class="form-control" readonly />
                    <span asp-validation-for="ObjetivoParceria" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AreaSolucaoBuscada" class="control-label"></label>
                    <input asp-for="AreaSolucaoBuscada" value="@Extensions.GetEnumDisplayName((EnumAreaSolucaoBuscada)Model.AreaSolucaoBuscada)" class="form-control" readonly />
                    <span asp-validation-for="AreaSolucaoBuscada" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TempoDeMercado" class="control-label"></label>
                    <input asp-for="TempoDeMercado" class="form-control" readonly />
                    <span asp-validation-for="TempoDeMercado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                    <form asp-action="Excluir">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Confirmar" class="btn btn-danger float-right" />
                    </form>
                    }
                    <a class="btn btn-outline-secondary" asp-action="Index">Mostrar todos</a>
                </div>
            </div>
        </div>
    </div>
</div>