@using apoemaMatch.Data.Enums
@using apoemaMatch.Data.ViewModels
@model EncomendaViewModel
@{
    ViewData["Title"] = "Cadastrar proposta";
    int indexRespostaCriterio = 0;
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Cadastrar proposta</h4>
        </p>

        <form asp-action="CadastrarProposta">
            <input type="hidden" asp-for="@Model.ChamadaId" value="@Model.ChamadaId" />

            @if (Model is not null)
            {
                @foreach (var criterio in Model.Criterios)
                {
                    if (Equals(criterio.TipoCriterio, EnumTipoCriterio.Textual))
                    {
                        <div class="col-md-12 mb-3">
                            <label class="control-label">@criterio.Descricao</label>
                            <input type="text" asp-for="@Model.Proposta.RespostasCriterios[indexRespostaCriterio].RespostaTextual" class="form-control" />
                            <input type="hidden" asp-for="@Model.Proposta.RespostasCriterios[indexRespostaCriterio].CriterioId" value="@criterio.Id" />
                        </div>
                    }

                    if (Equals(criterio.TipoCriterio, EnumTipoCriterio.SelecaoUnica))
                    {
                        <div class="col-md-12 mb-3">
                            <label class="control-label">@criterio.Descricao</label>
                            @foreach (var opcao in criterio.OpcoesCriterios)
                            {
                                <div class="col-md-12 mb-3">
                                    <input type="radio" asp-for="@Model.Proposta.RespostasCriterios[indexRespostaCriterio].OpcoesSelecionadas[0]" value="@opcao" />
                                    <label asp-for="@Model.Proposta.RespostasCriterios[indexRespostaCriterio].OpcoesSelecionadas[0]" class="control-label">@opcao</label>
                                    <input type="hidden" asp-for="@Model.Proposta.RespostasCriterios[indexRespostaCriterio].CriterioId" value="@criterio.Id" />
                                </div>
                            }
                        </div>
                    }

                    if (Equals(criterio.TipoCriterio, EnumTipoCriterio.MultiplaSelecao))
                    {
                        var indexMultiplaSelecao = 0;

                        <div class="col-md-12 mb-3">
                            <label class="control-label">@criterio.Descricao</label>
                            @foreach (var opcao in criterio.OpcoesCriterios)
                            {
                                <div class="col-md-12 mb-3">
                                    <input type="checkbox" asp-for="@Model.Proposta.RespostasCriterios[indexRespostaCriterio].OpcoesSelecionadas[indexMultiplaSelecao]" value="@opcao" />
                                    <label asp-for="@Model.Proposta.RespostasCriterios[indexRespostaCriterio].OpcoesSelecionadas[indexMultiplaSelecao]" class="control-label">@opcao</label>
                                    <input type="hidden" asp-for="@Model.Proposta.RespostasCriterios[indexRespostaCriterio].CriterioId" value="@criterio.Id" />
                                </div>
                                indexMultiplaSelecao++;
                            }
                        </div>

                    }

                    if (Equals(criterio.TipoCriterio, EnumTipoCriterio.Upload))
                    {
                        <div class="col-md-12 mb-3">
                            <label class="control-label">@criterio.Descricao</label>
                            <input type="text" asp-for="@Model.Proposta.RespostasCriterios[indexRespostaCriterio].RespostaUpload" class="form-control" />
                            <input type="hidden" asp-for="@Model.Proposta.RespostasCriterios[indexRespostaCriterio].CriterioId" value="@criterio.Id" />
                        </div>
                    }

                    indexRespostaCriterio++;
                }

                <div class="col text-center">
                    <button type="submit" class="btn btn-outline-success" asp-controller="Encomenda" asp-action="CadastrarProposta">Enviar proposta</button>
                </div>
            }

        </form>
    </div>
</div>
