@using apoemaMatch.Data.Enums
@using apoemaMatch.Data.ViewModels
@model EncomendaViewModel
@{
    ViewData["Title"] = "Cadastrar proposta";
    int indexRespostaCriterio = 0;
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Cadastrar proposta</h4>
        </p>

        <form asp-action="CadastrarProposta" id="formCadastroProposta">
            <input type="hidden" asp-for="@Model.ChamadaId" value="@Model.ChamadaId" />

            @if (Model is not null)
            {
                @foreach (var criterio in Model.Criterios)
                {
                    var descricao = $"{indexRespostaCriterio + 1}" + ". " + criterio.Descricao;
                    if (Equals(criterio.TipoCriterio, EnumTipoCriterio.Textual))
                    {
                        <div class="col-md-12 mb-3">
                            <label class="control-label">@descricao</label>
                            <input type="text" asp-for="@Model.Proposta.RespostasCriterios[indexRespostaCriterio].RespostaTextual" class="form-control" />
                            <input type="hidden" asp-for="@Model.Proposta.RespostasCriterios[indexRespostaCriterio].CriterioId" value="@criterio.Id" />
                        </div>
                    }

                    if (Equals(criterio.TipoCriterio, EnumTipoCriterio.SelecaoUnica))
                    {
                        <div class="col-md-12 mb-3">
                            <label class="control-label">@descricao</label>
                            @foreach (var opcao in criterio.OpcoesCriterios)
                            {
                                <div class="col-md-12 mb-3">
                                    <input type="radio" asp-for="@Model.Proposta.RespostasCriterios[indexRespostaCriterio].OpcoesSelecionadas[0]" value="@opcao" />
                                    <label asp-for="@Model.Proposta.RespostasCriterios[indexRespostaCriterio].OpcoesSelecionadas[0]" class="control-label">@opcao</label>
                                    <input type="hidden" asp-for="@Model.Proposta.RespostasCriterios[indexRespostaCriterio].CriterioId" value="@criterio.Id" />
                                </div>
                            }
                        </div>
                    }

                    if (Equals(criterio.TipoCriterio, EnumTipoCriterio.MultiplaSelecao))
                    {
                        var indexMultiplaSelecao = 0;

                        <div class="col-md-12 mb-3">
                            <label class="control-label">@descricao</label>
                            @foreach (var opcao in criterio.OpcoesCriterios)
                            {
                                <div class="col-md-12 mb-3">
                                    <input type="checkbox" asp-for="@Model.Proposta.RespostasCriterios[indexRespostaCriterio].OpcoesSelecionadas[indexMultiplaSelecao]" value="@opcao" />
                                    <label asp-for="@Model.Proposta.RespostasCriterios[indexRespostaCriterio].OpcoesSelecionadas[indexMultiplaSelecao]" class="control-label">@opcao</label>
                                    <input type="hidden" asp-for="@Model.Proposta.RespostasCriterios[indexRespostaCriterio].CriterioId" value="@criterio.Id" />
                                </div>
                                indexMultiplaSelecao++;
                            }
                        </div>

                    }

                    if (Equals(criterio.TipoCriterio, EnumTipoCriterio.Upload))
                    {
                        <div class="col-md-12 mb-3">
                            <label class="control-label">@descricao</label>
                            <input onblur="checkUrl(this)" type="text" asp-for="@Model.Proposta.RespostasCriterios[indexRespostaCriterio].RespostaUpload" class="form-control upload" placeholder="ex.: https://drive.google.com/..." />
                            <span class="text-danger"></span>
                            <input type="hidden" asp-for="@Model.Proposta.RespostasCriterios[indexRespostaCriterio].CriterioId" value="@criterio.Id" />
                        </div>
                    }

                    <hr />
                    indexRespostaCriterio++;
                }

                <div class="col text-center">
                    <button type="button" id="enviarProposta" class="btn btn-outline-success" asp-controller="Encomenda" asp-action="CadastrarProposta">Enviar proposta</button>
                </div>
            }

        </form>
    </div>
</div>

<script>
    function checkUrl(input) {
        return new Promise(resolve => {
            try {
                let span = input.parentElement.querySelector('span');
                if (inputEstaValido(input) && !input.value.startsWith('https://')) {
                    valideInput(false, span, "Link precisar começar com \'https://\'");
                    resolve(false);
                }
                else if (inputEstaValido(input)) {
                    valideInput(false, span, "Validando link ...");
                    let elemScript = document.createElement('script');
                    elemScript.type = 'text/javascript';
                    elemScript.onerror = () => {
                        valideInput(false, span, "Link inválido");
                        elemScript.remove();
                        resolve(false);
                    };
                    elemScript.onload = () => {
                        valideInput(true, span);
                        elemScript.remove();
                        resolve(true);
                    };
                    elemScript.src = input.value;
                    document.body.append(elemScript);
                }
                else {
                    valideInput(true, span);
                    resolve(true);
                }
            }
            catch (err) { }
        });
    }

    function inputEstaValido(input) {
        return !!input.value;
    }

    function valideInput(estaValido, span, textoValidacao) {
        if (!estaValido) {
            span.innerText = textoValidacao;
        }
        else {
            span.innerText = "";
        }
    }

    async function valideUrls() {
        let inputs = document.querySelectorAll(".upload");
        if (!inputs || !inputs.length) return;

        for (let i = 0; i < inputs.length; i++) {
            let input = inputs[i];
            let estaValido = await checkUrl(input);
            if (!estaValido) return false;
        }

        return true;
    }

    window.addEventListener('load', () => {
        document.getElementById("enviarProposta").addEventListener('click', async (ev) => {
            let estaValido = await valideUrls();
            if (estaValido) {
                document.getElementById("formCadastroProposta").submit();
            }
        })
    })
</script>
