@using apoemaMatch.Data.Enums
@using apoemaMatch.Data.ViewModels
@model IEnumerable<EncomendaViewModel>

@{
    ViewData["Title"] = "Lista de Chamadas em aberto";
}


<h2>Chamadas com Minhas Propostas</h2>

<div class="row">
    @if (Model is not null)
    {
        @foreach (var item in Model)
        {

            <div class="col-md-4 col-xs-6 border-primary mb-3">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-header text-white cor-apoema">
                                <p class="card-text">
                                    <h5 class="card-title">
                                        Chamada @item.NumeroChamada
                                    </h5>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-body">
                                <p class="card-text"><b>Título da encomenda: </b>@item.Titulo</p>
                                <p class="card-text"><b>Tipo encomenda: </b>@Extensions.GetEnumDisplayName((EnumTipoEncomenda)item.TipoEncomenda)</p>
                                <p class="card-text">
                                    <b>Realiza processo seletivo: </b>
                                    @if (item.PossuiChamada)
                                    {
                                        <span>Sim</span>
                                    }
                                    else
                                    {
                                        <span>Não</span>
                                    }
                                </p>
                                <p class="card-text">
                                    <b>Status: </b>
                                    @switch (item.StatusEncomenda)
                                    {
                                        case EnumStatusEncomenda.Aberta:
                                            <span class="badge bg-success text-white">@Extensions.GetEnumDisplayName((EnumStatusEncomenda)item.StatusEncomenda)</span>
                                            break;
                                        case EnumStatusEncomenda.AguardandoAnaliseChamada:
                                            <span class="badge bg-warning text-white">@Extensions.GetEnumDisplayName((EnumStatusEncomenda)item.StatusEncomenda)</span>
                                            break;
                                        case EnumStatusEncomenda.Finalizada:
                                            <span class="badge bg-danger text-white">@Extensions.GetEnumDisplayName((EnumStatusEncomenda)item.StatusEncomenda)</span>
                                            break;
                                    }
                                </p>
                                @if (item.StatusEncomenda == EnumStatusEncomenda.Aberta)
                                {
                                    <span class="badge bg-danger text-white" style="font-size: 12pt">Proposta já enviada</span>
                                }
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-footer ">
                                <p class="card-text">
                                    @if(item.StatusEncomenda == EnumStatusEncomenda.Aberta)
                                    {
                                        <button class="btn btn-outline-danger"  data-toggle="modal" data-target="#staticBackdrop_@item.Id">
                                            <i class="bi bi-trash"></i> Excluir Proposta
                                        </button>
                                    }
                                    <a class="btn btn-outline-primary float-right" asp-action="Detalhes" asp-route-id="@item.Id">
                                        <i class="bi bi-eye-fill"></i> Detalhes
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal fade" id="staticBackdrop_@item.Id" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel_@item.Id" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel_@item.Id">Exclusão</h5>
                        </div>
                        <div class="modal-body">
                            Tem certeza que deseja excluir esse item?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
                            <a class="btn btn-primary" asp-action="ExcluirPropostaTelaMinhasPropostas" asp-route-id="@item.Proposta?.Id">Confirmar</a>
                        </div>
                    </div>
                </div>
            </div>
    
        }
    }
</div>
