@using apoemaMatch.Data.Enums
@using apoemaMatch.Data.ViewModels
@model EncomendaViewModel

@{
    ViewData["Title"] = "Detalhes Encomenda";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white cor-apoema">
                        <p class="card-text">
                            <h5 class="card-title">
                                Encomenda @Model.Id
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-12 offset-2">
                    <div class="card-body">
                        <p class="card-text"><b>Título da encomenda: </b>@Model.Titulo</p>
                        <p class="card-text"><b>Tipo da encomenda: </b>@Extensions.GetEnumDisplayName((EnumTipoEncomenda)Model.TipoEncomenda)</p>
                        <p class="card-text"><b>Descrição da encomenda: </b>@Model.Descricao</p>
                        <p class="card-text">
                            <b>Possui chamada: </b>
                            @if (Model.PossuiChamada)
                            {
                                <span>Sim</span>
                            }
                            else
                            {
                                <span>Não</span>
                            }
                        </p>
                        <p class="card-text ">
                            <b>Status: </b>
                            @switch (Model.StatusEncomenda)
                            {
                                case EnumStatusEncomenda.Inicial:
                                    <span class="badge bg-primary text-white">@Extensions.GetEnumDisplayName((EnumStatusEncomenda)Model.StatusEncomenda)</span>
                                    break;
                                @*case EnumStatusEncomenda.AnalisandoEncomenda:
                                    <span class="badge bg-warning text-white">@Extensions.GetEnumDisplayName((EnumStatusEncomenda)Model.StatusEncomenda)</span>
                                    break;*@
                                case EnumStatusEncomenda.Recusada:
                                    <span class="badge bg-danger text-white">@Extensions.GetEnumDisplayName((EnumStatusEncomenda)Model.StatusEncomenda)</span>
                                    break;
                                case EnumStatusEncomenda.Aberta:
                                    <span class="badge bg-success text-white">@Extensions.GetEnumDisplayName((EnumStatusEncomenda)Model.StatusEncomenda)</span>
                                    break;
                                case EnumStatusEncomenda.AguardandoAnaliseChamada:
                                    <span class="badge bg-warning text-white">@Extensions.GetEnumDisplayName((EnumStatusEncomenda)Model.StatusEncomenda)</span>
                                    break;
                                case EnumStatusEncomenda.Finalizada:
                                    <span class="badge bg-danger text-white">@Extensions.GetEnumDisplayName((EnumStatusEncomenda)Model.StatusEncomenda)</span>
                                    break;
                            }
                        </p>
                        <p class="card-text"><b>Solucionador: </b>@ViewData["NomeSolucionador"]</p>
                        <p class="card-text"><b>Empresa Demandante: </b>@ViewData["EmpresaDemandante"]</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer ">
                        <p class="card-text">
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                @if (Model.StatusEncomenda == EnumStatusEncomenda.Inicial && Model.PossuiChamada == true)
                                {
                                    <a class="btn btn-outline-success" asp-action="AceitarEncomenda" asp-route-id="@Model.Id">
                                        <i class="bi bi-check"></i> Aceitar
                                    </a>
                                    <a class="btn btn-outline-danger" asp-action="RecusarEncomenda" asp-route-id="@Model.Id">
                                        <i class="bi bi-x"></i> Recusar
                                    </a>
                                }
                                @if (Model.StatusEncomenda == EnumStatusEncomenda.Aberta && Model.PossuiChamada == true)
                                {
                                    <a class="btn btn-outline-secondary" asp-action="HabilitarStatusAguardandoAnaliseChamada" asp-route-id="@Model.Id">
                                        <i class="bi bi-hourglass-split"></i> Desabilitar submissões
                                    </a>
                                }
                                <a class="btn btn-outline-primary float-right" asp-action="Index">
                                    Voltar à lista
                                </a>

                            }
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Solucionador"))
                            {
                                <a class="btn btn-outline-primary float-right" asp-action="MinhasEncomendasSolucionador">
                                    Voltar à lista
                                </a>

                            }
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Demandante"))
                            {
                                <a class="btn btn-outline-primary float-right" asp-action="MinhasEncomendasDemandante">
                                    Voltar à lista
                                </a>

                            }

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>