@using apoemaMatch.Data.Enums
@using apoemaMatch.Data.ViewModels
@model EncomendaViewModel

@{
    ViewData["Title"] = "Detalhes Encomenda";
    int indexRespostaCriterio = 0;
}

@if ((int?)ViewData["AlertEncomendaFinalizada"] == 1)
{
    <div class="row">
        <div class="col-md-6 offset-3 alert alert-info text-center">
            <i class="bi bi-check-circle" style="font-size:36px;"></i>
            <h2>Parabéns sua chamada foi finalizada com sucesso!!!</h2>
            <p>Dê as Boas-Vindas para <b>@ViewData["NomeSolucionador"]</b> através das informações disponibilizadas abaixo.</p>
            <hr/>
        </div>
    </div>
}else if ((int?)ViewData["AlertEncomendaFinalizada"] == 2)
{
    <div class="row">
        <div class="col-md-6 offset-3 alert alert-info text-center">
            <i class="bi bi-check-circle" style="font-size:36px;"></i>
            <h2>Parabéns você foi selecionado para este projeto!!!</h2>
            <p>Aguarde o contato de <b>@ViewData["EmpresaDemandante"]</b>, e boa sorte em sua nova trajetória.</p>
            <hr/>
        </div>
    </div>
}else if ((int?)ViewData["AlertEncomendaFinalizada"] == 3)
{
    <div class="row">
        <div class="col-md-6 offset-3 alert alert-secondary text-center">
            <i class="bi bi-emoji-frown" style="font-size:36px;"></i>
            <h2>Que Pena, infelizmente você não foi selecionado!</h2>
            <p>Mas não se preocupe, veja a nossa lista de encomendas com chamadas abertas!!!</p>
            <a class="btn btn-outline-primary" asp-action="EmAberto">Chamadas em Aberto</a>
            <hr/>
        </div>
    </div>
}


<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white cor-apoema">
                        <p class="card-text">
                            <h5 class="card-title">
                                Encomenda @Model.Id
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-body">
                        <p class="card-text"><b>Título da encomenda: </b>@Model.Titulo</p>
                        <p class="card-text"><b>Tipo da encomenda: </b>@Extensions.GetEnumDisplayName((EnumTipoEncomenda)Model.TipoEncomenda)</p>
                        <p class="card-text"><b>Descrição da encomenda: </b>@Model.Descricao</p>
                        <p class="card-text">
                            <b>Possui chamada: </b>
                            @if (Model.PossuiChamada)
                            {
                                <span>Sim</span>
                            }
                            else
                            {
                                <span>Não</span>
                            }
                        </p>
                        <p class="card-text ">
                            <b>Status: </b>
                            @switch (Model.StatusEncomenda)
                            {
                                case EnumStatusEncomenda.Inicial:
                                    <span class="badge bg-primary text-white">@Extensions.GetEnumDisplayName((EnumStatusEncomenda)Model.StatusEncomenda)</span>
                                    break;
                                @*case EnumStatusEncomenda.AnalisandoEncomenda:
                                    <span class="badge bg-warning text-white">@Extensions.GetEnumDisplayName((EnumStatusEncomenda)Model.StatusEncomenda)</span>
                                    break;*@
                                case EnumStatusEncomenda.Recusada:
                                    <span class="badge bg-danger text-white">@Extensions.GetEnumDisplayName((EnumStatusEncomenda)Model.StatusEncomenda)</span>
                                    break;
                                case EnumStatusEncomenda.Aberta:
                                    <span class="badge bg-success text-white">@Extensions.GetEnumDisplayName((EnumStatusEncomenda)Model.StatusEncomenda)</span>
                                    break;
                                case EnumStatusEncomenda.AguardandoAnaliseChamada:
                                    <span class="badge bg-warning text-white">@Extensions.GetEnumDisplayName((EnumStatusEncomenda)Model.StatusEncomenda)</span>
                                    break;
                                case EnumStatusEncomenda.Finalizada:
                                    <span class="badge bg-danger text-white">@Extensions.GetEnumDisplayName((EnumStatusEncomenda)Model.StatusEncomenda)</span>
                                    break;
                            }
                        </p>
                        
                        @if (Model.StatusEncomenda == EnumStatusEncomenda.Recusada)
                        {
                            <p class="card-text"><b>Justificativa de Rejeição: </b>@ViewData["Justificativa"]</p>
                        }
                        <p class="card-text"><b>Solucionador: </b>@ViewData["NomeSolucionador"]</p>
                        <p class="card-text"><b>Empresa Demandante: </b>@ViewData["EmpresaDemandante"]</p>
                        
                        
                        @if (Model.PossuiChamada == true)
                        {
                            <hr/>
                            <h5 class="card-text">Detalhes da Chamada</h5>
                            <p class="card-text"><b>&emsp; Decrição da Chamada: </b>@ViewData["DescricaoChamada"]</p>
                            <p class="card-text"><b>&emsp; Data de criação da chamada: </b>@ViewData["DataCriacao"]</p>
                            <p class="card-text"><b>&emsp; Data limite para submissão: </b>@ViewData["DataValidade"]</p>
                            <p class="card-text"><b>&emsp; Anexo: </b><a onclick="window.open('@ViewData["Anexo"]')" type="button" target="_blank" class="btn btn-dark btn-sm text-white">Abrir <i class="bi bi-arrow-right-short"></i></a></p>
                        }
                        @if (User.Identity.IsAuthenticated && !User.IsInRole("Solucionador") && @ViewData["NomeSolucionador"] != "Não possui")
                        {
                            <hr/>
                            <h5 class="card-text">Detalhes do Solucionador</h5>
                            <p class="card-text"><b>&emsp; Email: </b>@ViewData["SolucionadorEmail"]</p>
                            <p class="card-text"><b>&emsp; Telefone: </b>@ViewData["SolucionadorTelefone"]</p>
                            <p class="card-text"><b>&emsp; Currículo Lattes: </b>@ViewData["SolucionadorLattes"]</p>
                        }
                        
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Solucionador") && @Model.SolucionadorLogadoPossuiPropostaNaEncomenda)
                        {
                            <hr/>
                            <h5 class="card-text">Critérios e minhas respostas</h5>
                            <p class="text-danger">&emsp; &emsp;* Itens destacados em vermelho representam as respostas fornecidas</p>
                            @foreach (var criterio in Model.Criterios)
                            {
                                <p class="card-text"><b>&emsp; @criterio.Descricao</b></p>
                                if (Equals(criterio.TipoCriterio, EnumTipoCriterio.Textual))
                                {
                                    <p class="card-text text-danger">&emsp; &emsp;@Model.Proposta.RespostasCriterios[indexRespostaCriterio].RespostaTextual</p>
                                }

                                if (Equals(criterio.TipoCriterio, EnumTipoCriterio.SelecaoUnica))
                                {
                                    @foreach (var opcao in criterio.OpcoesCriterios)
                                    {
                                        @if (Model.Proposta.RespostasCriterios[indexRespostaCriterio].OpcoesSelecionadas != null && Model.Proposta.RespostasCriterios[indexRespostaCriterio].OpcoesSelecionadas[0] == opcao)
                                        {
                                            <p class="card-text text-danger">&emsp; &emsp;@opcao <i class="bi bi-check"></i></p>
                                        }
                                        else
                                        {
                                            <p class="card-text">&emsp; &emsp;@opcao</p>
                                        }
                                    }
                                }
                                var indexMultiplaSelecao = 0;
                                if (Equals(criterio.TipoCriterio, EnumTipoCriterio.MultiplaSelecao))
                                {
                                    @foreach (var opcao in criterio.OpcoesCriterios)
                                    {
                                        @if (Model.Proposta.RespostasCriterios[indexRespostaCriterio].OpcoesSelecionadas[indexMultiplaSelecao] == opcao)
                                        {
                                            <p class="card-text text-danger">&emsp; &emsp;@opcao<i class="bi bi-check"></i></p>
                                        }
                                        else
                                        {
                                            <p class="card-text">&emsp; &emsp;@opcao</p>
                                        }
                                        indexMultiplaSelecao++;
                                    }
                                }
                                if (Equals(criterio.TipoCriterio, EnumTipoCriterio.Upload))
                                {
                                    <p class="card-text"><b>&emsp; &emsp;Anexo: </b><a onclick="window.open('@Model.Proposta.RespostasCriterios[indexRespostaCriterio].RespostaUpload')" type="button" target="_blank" class="btn btn-danger btn-sm text-white">Abrir <i class="bi bi-arrow-right-short"></i></a></p>
                                }
                                indexRespostaCriterio++;
                            }
                        }
                        else
                        {
                            <hr/>
                            <h5 class="card-text">Critérios da encomenda</h5>
                            @foreach (var item in Model.Criterios)
                            {
                                <p class="card-text"><b>&emsp; @item.Descricao</b></p>
                                @if (item.OpcoesCriterios != null)
                                {
                                    @foreach (var opt in item.OpcoesCriterios)
                                    {
                                        <p class="card-text">&emsp; &emsp; @opt</p>
                                    }
                                }
                            }
                        }
                        
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer ">
                        <p class="card-text">
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                @if (Model.StatusEncomenda == EnumStatusEncomenda.Inicial && Model.PossuiChamada == true)
                                {
                                    <a class="btn btn-outline-success" asp-action="AceitarEncomenda" asp-route-id="@Model.Id">
                                        <i class="bi bi-check"></i> Aceitar
                                    </a>
                                    <button class="btn btn-outline-danger" data-toggle="modal" data-target="#staticBackdrop">
                                        <i class="bi bi-x"></i> Recusar
                                    </button>
                                }
                                @if (Model.StatusEncomenda == EnumStatusEncomenda.Aberta && Model.PossuiChamada == true)
                                {
                                    <a class="btn btn-outline-secondary" asp-action="HabilitarStatusAguardandoAnaliseChamada" asp-route-id="@Model.Id">
                                        <i class="bi bi-hourglass-split"></i> Desabilitar submissões
                                    </a>
                                }
                                <a class="btn btn-outline-primary float-right" asp-action="Index">
                                    Voltar à lista
                                </a>

                            }
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Solucionador"))
                            {
                                <a class="btn btn-outline-primary float-right" asp-action="MinhasEncomendasSolucionador">
                                    Voltar à lista
                                </a>

                            }
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Demandante"))
                            {
                                <a class="btn btn-outline-primary float-right" asp-action="MinhasEncomendasDemandante">
                                    Voltar à lista
                                </a>

                            }

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Justificativa de recusa</h5>
            </div>
            <form asp-action="VincularSolucionador" asp-action="RecusarEncomenda" asp-route-id="@Model.Id">
                <div class="modal-body">
                    Por favor insira uma justificativa para a rejeição da encomenda:
                    <hr/>
                    <textarea asp-for="JustificativaRecusa" class="form-control" id="message-text"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" asp-action="RecusarEncomenda" asp-route-id="@Model.Id">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>