@using apoemaMatch.Data.Enums
@using apoemaMatch.Data.ViewModels
@model IEnumerable<EncomendaViewModel>

@{
    ViewData["Title"] = "Lista de Encomendas";
}

<div class="text-center">
    <h2>Lista de Encomendas</h2>
</div>

<div class="row">
    @if (Model is not null)
    {
        @foreach (var item in Model)
        {
            @if (item.EncomendaAberta)
            {
                <div class="col-md-4 col-xs-6 border-primary mb-3">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-12">
                                <div class="card-header text-white cor-apoema">
                                    <p class="card-text">
                                        <h5 class="card-title">
                                            @item.Titulo
                                        </h5>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card-body">
                                    <p class="card-text"><b>Serviço buscado: </b>@Extensions.GetEnumDisplayName((EnumAreaSolucaoBuscada)item.AreaSolucaoBuscada)</p>
                                    <p class="card-text"><b>Área da solução buscada: </b>@Extensions.GetEnumDisplayName((EnumSegmentoDeMercado)item.SegmentoDeMercado)</p>
                                    <p class="card-text"><b>Descrição: </b>@item.Descricao</p>
                                    <p class="card-text">
                                        <b>Realiza processo seletivo: </b>
                                        @if (item.RealizaProcessoSeletivo)
                                        {
                                            <span>Sim</span>
                                        }
                                        else
                                        {
                                            <span>Não</span>
                                        }
                                    </p>
                                    <p class="card-text">
                                        <b>Status: </b>
                                        @if (item.EncomendaAberta)
                                        {
                                            <span class="badge bg-success text-white">ABERTA</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-danger text-white">FECHADA</span>
                                        }
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card-footer ">
                                    <p class="card-text">
                                        <a class="btn btn-outline-success" asp-action="" asp-route-id="@item.Id">
                                            <i class="bi bi-arrow-up-square"></i> Enviar Proposta
                                        </a>
                                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                        {
                                            <a class="btn btn-outline-primary float-right" asp-action="VincularSolucionador" asp-route-id="@item.Id">
                                                <i class="bi bi-file-earmark-person"></i> Vincular Solucionador
                                            </a>
                                        }
                                        <a class="btn btn-outline-primary float-right" asp-action="Detalhes" asp-route-id="@item.Id">
                                            <i class="bi bi-eye-fill"></i> Detalhes
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>
