@using apoemaMatch.Data.Enums
@using apoemaMatch.Data.ViewModels
@model IEnumerable<EncomendaViewModel>

@{
    ViewData["Title"] = "Lista de Encomendas";
}
<h2>Lista de Encomendas</h2>

@if (Model is not null && Model.Count() == 0)
{
    <h4>Ainda não foi cadastrada nenhuma encomenda</h4>
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Demandante"))
{
    <div class="row justify-content-end">
        <div class="col-md-4 col-xs-6 d-inline-flex justify-content-end mb-3">
            <a class="btn btn-outline-primary my-2 my-sm-0" asp-controller="Encomenda" asp-action="Cadastrar">
                Criar nova encomenda
            </a>
        </div>
    </div>
}

<div class="row">
    @if (Model is not null)
    {
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-xs-6 border-primary mb-3">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-header text-white cor-apoema">
                                <p class="card-text">
                                    <h5 class="card-title">
                                        Encomenda @item.Id
                                    </h5>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-body">
                                <p class="card-text"><b>Título da encomenda: </b>@item.Titulo</p>
                                <p class="card-text"><b>Tipo da encomenda: </b>@Extensions.GetEnumDisplayName((EnumTipoEncomenda)item.TipoEncomenda)</p>
                                <p class="card-text">
                                    <b>Possui chamada: </b>
                                    @if (item.PossuiChamada)
                                    {
                                        <span>Sim</span>
                                    }
                                    else
                                    {
                                        <span>Não</span>
                                    }
                                </p>
                                @*<p class="card-text">
                                    <b>Status: </b>
                                    @switch (item.StatusEncomenda)
                                    {
                                        case EnumStatusEncomenda.Aberta:
                                            <span class="badge bg-success text-white">@Extensions.GetEnumDisplayName((EnumStatusEncomenda)item.StatusEncomenda)</span>
                                            break;
                                        case EnumStatusEncomenda.AguardandoAnaliseChamada:
                                            <span class="badge bg-warning text-white">@Extensions.GetEnumDisplayName((EnumStatusEncomenda)item.StatusEncomenda)</span>
                                            break;
                                        case EnumStatusEncomenda.Finalizada:
                                            <span class="badge bg-danger text-white">@Extensions.GetEnumDisplayName((EnumStatusEncomenda)item.StatusEncomenda)</span>
                                            break;
                                    }
                                </p>*@
                                <p class="card-text ">
                                    <b>Status: </b>
                                    @if (item.EncomendaAberta)
                                    {
                                        <span class="badge bg-success text-white">ABERTA</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-danger text-white">FECHADA</span>
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-footer ">
                                <p class="card-text">
                                    <a class="btn btn-danger text-white" asp-action="Excluir" asp-route-id="@item.Id">
                                        <i class="bi bi-trash"></i>Excluir
                                    </a>
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a class="btn btn-outline-primary float-right" asp-action="VincularSolucionador" asp-route-id="@item.Id">
                                            <i class="bi bi-file-earmark-person"></i> Vincular Solucionador
                                        </a>
                                    }
                                    @if (item.PossuiChamada)
                                    {
                                        <a class="btn btn-outline-primary float-right" asp-action="VisualizarPropostas" asp-route-id="@item.Id">
                                            <i class="bi bi-file-earmark-person"></i> Visualizar propostas
                                        </a>
                                    }
                                    <a class="btn btn-outline-primary float-right" asp-action="Detalhes" asp-route-id="@item.Id">
                                        <i class="bi bi-eye-fill"></i> Detalhes
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
